.Titel{position: absolute; top: 50px; left: 80px; font-family: 'Anonymous Pro', monospace; line-height: 120%; color: black; font-size: 17px}

.CaseHead{position: absolute; top: 50px; left: 550px; font-family: 'Anonymous Pro', monospace; line-height: 120%; color: black; font-size: 17px}

.About{position: absolute; top: 150px; left: 80px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.Email{position: absolute; top: 290px; left: 80px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

a:link { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: underline; }
a:visited { color: black; text-decoration: none; }

.HMU{position: absolute; top: 312px; left: 80px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.References{position: absolute; top: 360px; left: 80px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.CaseLinks{position: absolute; top: 150px; left: 550px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.Logo{position: absolute; top: 508px; left: 1000px;}

.TuskLogo{position: absolute; top: 484px; left: 1000px;}

.HausLogo{position: absolute; top: 540px; left: 998px;}

.SnapLogo{position: absolute; top: 565px; left: 1000px;}

.SoundLogo{position: absolute; top: 480px; left: 1000px;}

.CaseName{position: absolute; top: 675px; left: 1000px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.Detail{position: absolute; top: 740px; left: 1000px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}

.Description{position: absolute; top: 740px; left: 1450px; font-family: 'Anonymous Pro', monospace; line-height: 160%; color: black; font-size: 15px}
